{% extends "base.html" %}
{% block title %}Clientes{% endblock %}

{% block content %}
  <h1>Clientes</h1>

  {% if name %}
    <p>Hola, {{ name }} 😄</p>
  {% endif %}

  <img src="{{ url_for('static', filename='img/overlay.jpg') }}"
       alt="Gráfico azul"
       style="width:100%;max-height:260px;object-fit:cover;border-radius:12px;box-shadow:0 4px 12px rgba(0,0,0,.1)">

  <h2 class="mt-2">Lista de clientes</h2>
  <ul class="fancy-list">
    {% for cliente in clientes | reverse %}
      <li>{{ cliente }}</li>
    {% endfor %}
  </ul>
{% endblock %}



