<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Mi sitio{% endblock %}</title>

  <!-- Enlace al CSS en static/css/ -->
  <link rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  {% include "_navbar.html" %}

  <main class="container">
    {% block content %}
      <p style="color:gray">Contenido genérico proveniente de la plantilla base.</p>
    {% endblock %}
  </main>
</body>
</html>


  
